@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	src: url('../woff2/Dana-Hairline.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Hairline.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 100;
	src: url('../woff2/Dana-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 200;
	src: url('../woff2/Dana-UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-UltraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	src: url('../woff2/Dana-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 500;
	src: url('../woff2/Dana-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	src: url('../woff2/Dana-DemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-DemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 800;
	src: url('../woff2/Dana-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	src: url('../woff2/Dana-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 930;
	src: url('../woff2/Dana-ExtraBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-ExtraBlack.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 960;
	src: url('../woff2/Dana-Heavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Heavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 990;
	src: url('../woff2/Dana-Fat.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Fat.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: bold;
	src: url('../woff2/Dana-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('../woff2/Dana-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../woff/Dana-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "dana";
}

body {

    padding: 20px;
    direction: rtl; 
    text-align: right; 
}

.container {
    max-width: 1600px; 
    margin: 0 auto;
    /* margin: 0px 88px;        با آرمین مطرح کنم  */
 

}

.section {
    max-width: 1224px; 
    margin: 0 auto; 
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
h2{
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* هدر */

.header.comtainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.menuOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */

    border-bottom: 1px solid #ddd;
    height: 100px;
    /* max-width: 1224px; */

}

.logo img {
    height: 50px;
}

nav.menu {
    margin-right: -387px;
}
.menu ul {
    display: flex;
    list-style: none;
    align-items: left;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: medium;
    font-size: 16px;
}

.actions {
    display: flex;
    align-items: center;
    
}

.fas.fa-shopping-cart{
margin-left: 18px;
}


.actions .icon {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.actions .login-btn {
    padding: 5px 15px;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: medium;
}

/* .actions .login-btn:hover {
    background-color: #0056b3;
} */

.category-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #e9ecef;
}

.category-item {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: medium;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-item:hover {
    background-color: #007bff;
    color: white;
} 


.submenu {
    width: 100%;
    border-top: 1px solid #ddd;
    /* width: 1600px; */
    height: 60px;
    align-items: center;

}

.submenu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
  
}

.submenu ul li {
    margin: 0 10px;
}

.submenu ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    /* border-radius: 5px; */
    /* transition: background-color 0.3s; */
    font-size: 16px;
    font-weight: medium;
}

/* .submenu ul li a:hover {
    background-color: #007bff;
    color: white;
} */


/* اسلایدر */

.slider {
    height: 306px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* بنرها */
.banner-section {
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    margin: 20px auto 0; 
    margin-bottom: 80px;
}

.banner1 {
    width: 599px;
    height: 200px;
    background-color: #f0f0f0; 
    border-radius: 8px;
    /* margin-left: 26px; */
}
.banner2 {
    width: 599px;
    height: 200px;
    background-color: #f0f0f0; 
    border-radius: 8px;
    /* margin-right: 24px; */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* کارت محصول */

.products-section {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
}

.section-header h2 {
    font-size: 24px;

}

.view-all {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.view-all .arrow {
    margin-left: 5px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-box {
    width: 288px;
height: 428px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.installment, .discount-counter {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.product-image {
    width: 272px;
    height: 272px;
}

.color-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.color-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;

}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.black { background-color: black; }

.product-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin-bottom: 18px;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-percentage {
    color: red;
    font-weight: bold;
    border-radius: var(--border-radius-DEFAULT, 4px);
border: 1px solid var(--Red-500, #EF4444);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.original-price {
    text-decoration: line-through;
    color: #B999;
    font-size: 12px;
    text-align: right;
}

.discounted-price {
    color: #28a745;
    font-weight: bold;
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px;
}

/* سه تا باکس */

.box-section {
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    /* margin: 20px auto; */
    margin-bottom: 100px;
}


.box-se {
    width: 32%;
    /* background-color: #f8f9fa; */
    /* border: 1px solid #ddd; */
   
    /* padding: 24px; */
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.box-se img {
    border-radius: 8px;
    width: 392px;
    /* height: 218px; */
    object-fit: cover;
}

.box-se h3 {
    margin: 15px 0;
    font-size: 20px;
    color: #333;
    text-align: right;
}

.box-se p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    margin: 14px 16px 16px 16px;
    text-align: right;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: medium;
}
a.read-more-btn {
    background-color: transparent;
    color: #000;
}

a.read-more-btn:hover {
    background-color: transparent;
}

/* نوبت دهی انلاین */

.two-column-section {
    display: flex;
    justify-content: space-between;
    height: 333px;
    border-radius: 8px;
    background: #FBE6FF;
    margin-bottom: 100px;

}


.left-column img {
    /* width: 100%;
    height: auto; */
    border-radius: 8px;
    object-fit: cover;
    height: 293px !important;
    width: 525px !important;
    margin: 20px;

}

.right-column {
    /* flex: 1; */
    padding-left: 20px;
    text-align: right;
}

.right-column h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: right;
  margin: 20px;
}

.right-column p {
    font-size: 16px;
    font-weight: regular;
    margin-bottom: 20px;
    color: #666;
    text-align: right;
    margin-right: 20px;
}

button.view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 248px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: medium;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    margin-right: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
button.view-more-btn a{
    text-decoration: none;
}

/* سوالات متداول*/

.faq-section{
    margin-bottom: 100px;
}

.faq-title {
    text-align: right; 
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-content {
    display: flex;
}



.faq-accordion {
    flex-grow: 1; 
    height: 389px;
}

.accordion {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: right; 
    outline: none;
    font-size: 16px;
    height: 60px;
    transition: background-color 0.3s;
}

.panel {
    padding: 0 15px;
    display: none; 
    overflow: hidden;
    background-color: #f1f1f1; 
    text-align: right; 
}

/* نظرات کاربران */
.reviews-section {
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-bottom: 100px;
}

.reviews-title {
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
}

.reviews-container {
    display: flex; 
    justify-content: space-between; 
}

.review-box {
    width: 372px;
 
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px; 
    flex: 1; 
 
}

.review-text {
    font-size: 16px;
    margin-bottom: 15px;
}

.review-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
}

.score {
    font-weight: bold; 
    margin-left: 5px; 
    color: #FBBF24;
    margin-top: 4px;
}

.star-icon {
    width: 16px; 
    height: 16px;
    margin-left: 5px; 
}

.user-info {
    display: flex;
    align-items: center;
}

i.fa.fa-user.user-icon {
    margin-top: 14px;
    margin-left: -8px;
    color: #64748B;
}
.fa-star:before {
    content: "\f005";
    color: #FBBF24;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px; 
}

.user-name {
    margin-left: 5px; 
    color: #64748B;
}

/* ویژگی های ما */

.icon-section h2{
    text-align: right;
   
    margin-bottom: 40px;
  }
  
  .icon-container {
      display: flex;
      gap: 24px;
      margin-bottom: 100px;
  }
  
  .icon-box {
      width: 288px;
      height: 186px;
      padding: 20px;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
  }
  
  
  .icon {
      width: 50px; 
      height: auto; 
  }
  
  .icon-box p {
      margin-top: 10px; 
      font-size: 14px; 
      font-weight: regular;
      color: #333;
}

/* بیمه های طرف قرارداد */

.insurance-section {
    text-align: center;
    /* background-color: #f8f9fa; */
    padding: 10px 0;
    height: 142px; 
    margin-bottom: 100px;

}

.insurance-section h2 {

    font-size: 18px;
    text-align: right;
    margin-bottom: 24px !important;
    /* margin-top: 103px !important; */
}

.insurance-logos {
    display: flex;
    justify-content: space-around; 
}
.logo-box {
    width: 100px; 
}

.logo-box img {
    width: 100%; 
    height: auto;
}
/* مقالات */

.maghale h2{
    margin-bottom: 36px;
    /* margin-top: 180px !important; */
}

.articles-section {
    display: flex;
    justify-content: space-between; 
    /* margin: 40px 0; */
    gap: 24px;
    margin-bottom: 67px;
}

.article-box {
    /* background-color: #f4f4f4; */
    width: 288px; 
    /* padding: 20px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 438px; 
}
.article-box img {
    width: 100%;
    height: 192px; 
    /* object-fit: cover; */
    border-radius: 8px;
    margin-bottom: 15px;
}

.article-box h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-box p {
    font-size: 14px;
    font-weight: regular;
    color: #666;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.read-more-btn {
    font-size: 16px;
    font-size: medium;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: #0056b3;
}
/* حکیم نور کجاست؟ */

.hakim-noor-section {
    text-align: center;
    padding: 20px;
    /* background-color: #f9f9f9; */
    margin: 40px 0;
    border-radius: 8px;
    max-width: 1224px;
    gap: 40px;

}

.hakim-noor-section h2 {
    font-size: 24px;
    margin-bottom: 36px;
    /* margin-top: 67px !important; */
    text-align: right;

}

.image-row {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 40px;
}

.image-box {
    width: 23%; 
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.description {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    padding: 0 10px;
}
.read-more .btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* فووتر */
.footer-section {
    /* height: 514px;   با آرمین مطرح کنم */
    color: #000;
    padding: 20px;
  
}

.footer-top {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
}

.footer-top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.social-icons a {
    color: #000;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s;
}


.footer-contact {
    display: flex;
    /* justify-content: space-around; */
    /* width: 100%;
    margin-top: 20px; */
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    gap: 36px;
}

.footer-contact div {
    display: flex;
    align-items: center;
}

.footer-contact i {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    .footer-bottom {
        margin-top: 21px;
    }
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ffcc00;
}

.footer-column ul li i {
    margin-right: 8px;
}

.footer-column.enamad i {
    font-size: 36px;
    color: #ffcc00;
}

.footer-column.products {
    text-align: right;
}
.footer-column.useful-links {
    text-align: right;
}

.footer-column.enamad {
    text-align: center;
}

/* ریسپانسیو */
@media only screen and (max-width: 600px) {
    .slider {
        height: 200px; 
        margin-bottom: 15px;
    }
    
    .slide img {
        width: 345px;
        height: auto; 
        object-fit: cover; 
    }
    .banner-section {
        flex-direction: column;
        align-items: center;
    }
    
    .banner1 {
        width: 345px; 
        height: 115px; 
        margin-bottom: 100px; 
    }
    .banner2{
        width: 345px; 
        height: 115px; 
        margin-bottom: 15px; 
    }
    .products-grid {
        display: flex;
        overflow: hidden;
    }

    .product-box {
        flex: 0 0 100%; 
        max-width: 100%;
        margin-right: 10px;
    }

    .products-grid::-webkit-scrollbar {
        display: none; 
    }
    .box-section {
        flex-direction: column;
        align-items: center; 
        gap: 16px; 
        width: 600px;
    }

    .box-se {
        width: 100%; 
    }

    .box-se img {
        width: 100%; 
        height: auto; 
    }
    .two-column-section {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
        width: 600px; 
        border-radius: 8px;
        background: #FBE6FF;
        margin: 0 auto 100px;
        padding: 20px; 
     
        height: auto;
    }
    
   
    .left-column {
    
        margin-bottom: 15px; 
    }
    
    .left-column img {
        border-radius: 8px;
        /* object-fit: cover; */
      
       
    }
    
    
    .right-column {
        text-align: right; 
        width: 100%;
    }
    
    .right-column h2 {
        font-size: 20px; 
        font-weight: bold;
        color: #333;
        margin: 10px 0; 
    }
    
    .right-column p {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px; 
    }
    
 
    button.view-more-btn {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        padding: 8px 16px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        margin-top: 10px; 
    }
    
    button.view-more-btn:hover {
        background-color: #f0f0f0; 
    }
    
    button.view-more-btn a {
        text-decoration: none; 
    }
    .faq-section {
        margin-bottom: 100px;
        width: 100%; 
        padding: 0 16px; 
    }
    
  
    .faq-title {
        text-align: right; 
        font-size: 24px;
        margin-bottom: 20px;
    }
    
   
    .faq-content {
        display: flex;
        flex-direction: column;
    }
    

    .faq-accordion {
        flex-grow: 1; 
    }
    
   
    .accordion {
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: right; 
        outline: none;
        font-size: 16px;
        height: 60px;
        transition: background-color 0.3s;
    }
    

    .panel {
        padding: 0 15px;
        display: none; 
        overflow: hidden;
        background-color: #f1f1f1; 
        text-align: right; 
    }
    
   
    .faq-image {
        display: none; 
    }

}

